{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5">Tareas {{task_type}}</h1>
            {% if tasks %}
            <ul class="list-group">
                {% for task in tasks %}
                <a class="list-group-item bg-dark border-0" href="{% url 'task_detail' task.id %}">
                    <header class="d-flex justify-content-between">
                        {% if task.importante %}
                        <h1 class="fw-bold text-success">{{task.titulo}}</h1>
                        {% else %}
                        <h1 class="fw-bold">{{task.titulo}}</h1>
                        {% endif %}
                        <p class="text-light">{{task.user.username}}</p>
                    </header>
                    <p class="text-light">{{task.descripción}}</p>

                    <p class="text-light">{{task.fechacompletado|date:'M j Y:i'}}</p>
                </a>
                {% endfor %}
            </ul>
            {% else %}
            <h3 class="text-center text-dark">Nada todavia...</h3>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}